@import "tailwindcss";
@import "./tokens.css";
@import "./components.css";

html,
body {
  min-height: 100%;
}
body {
  background: var(--bg-ivory);
  color: var(--ink-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

